/*
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

.full-width-container {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-3 {
    width: calc((100% / 3) *1);
}

.col-2-3 {
    width: calc((100% / 3) *2);
}

.flex {
    display: flex;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.bold-text {
    font-weight: 600;
}

.blue-button {
    background-color: #0061FF;
    border: 1px dashed #0061FF;
    color: white;
    display: inline;
    width: auto;
}

.grey-text {
    color: grey;
}

.bg-color-A2D39B {
    background-color: #A2D39B;
}
.bg-color-61082B {
    background-color: #61082B;
}
.bg-color-0093CE {
    background-color: #0093CE;
}
.bg-color-FF1C1C {
    background-color: #FF1C1C;
}
.bg-color-D5001F {
    background-color: #D5001F;
}
.bg-color-B4D0E7 {
    background-color: #B4D0E7;
}
.bg-color-0D2481 {
    background-color: #0D2481;
}
.bg-color-FFD830 {
    background-color: #FFD830;
}

.fill-white {
    filter: invert(95%) sepia(95%) saturate(22%) hue-rotate(178deg) brightness(105%) contrast(101%);
}

/*
    HEADER
*/
header {
    margin-bottom: 150px;
}
#header-top {
    min-height: 60px;   
}
#header-top .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#header-top nav ul {
    min-height: 40px;
    display: flex;
    align-items: center;
    list-style: none;
}

#header-top nav ul li a {
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
    text-decoration: none;
    color: black;
}

#header-top nav .blue-button { 
    margin: 0 5px;
    padding: 5px 12px;
}

#header-bottom {
    margin-bottom: 150px;
    padding-top: 50px;
    height: 450px;
}

#header-bottom #hero-section {
    min-height: 400px;
}

#header-bottom #hero-section .row .col-1-3 {
    display: flex;
    flex-direction: column;
}

#header-bottom #hero-section .row .col-2-3 {
    padding: 10px;
}

#header-bottom #hero-section .row .col-2-3 img {
    width: 100%;
}


/*
    MAIN
*/

#plans {
    display: flex;
}

#plans > * {
    border: 1px solid grey;
}

.width-60 img {
    width: 100%;
}


#member-container {
    background-color: #F5F5F5;
    display: flex;
}

#member-container > * {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#member-container .member-logo {
    display: flex;
    flex-wrap: wrap;
}

#member-container .member-logo > * {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#member-container .member-logo div {

}

#member-container .member-logo div > * {
    width: 60%;
}

#member-container .member-logo .bg-color-A2D39B {
    border: 10px solid #D1E9CD;  
}
/*
    DEBUG
*/

.debug #header-top {
    background-color: green;
    border: 2px dashed black;
}

.debug nav {
    background-color: orangered;
    border: 2px dashed white;
}

.debug .logo {
    background-color: aqua;
    border: 2px dashed black;
}

.debug #header-bottom {
    background-color: coral;
    border: 2px dashed black;
}

.debug #header-bottom #hero-section {
    background-color: cornflowerblue;
    border: 2px dashed black;
}
