/*
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

.full-width-container {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-3 {
    width: calc((100% / 3) *1);
}

.col-2-3 {
    width: calc((100% / 3) *2);
}

.width-30 {
    width: 30%;
}

.bold-text {
    font-weight: 600;
}
.blue-button {
    background-color: #0061FF;
    border: 1px dashed #0061FF;
    color: white;
    display: inline;
    width: auto;
}

.grey-text {
    color: grey;
}

/*
    HEADER
*/
header {
    margin-bottom: 150px;
}
#header-top {
    min-height: 60px;   
}
#header-top .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#header-top nav ul {
    min-height: 40px;
    display: flex;
    align-items: center;
    list-style: none;
}

#header-top nav ul li a {
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
    text-decoration: none;
    color: black;
}

#header-top nav .blue-button { 
    margin: 0 5px;
    padding: 5px 12px;
}

#header-bottom {
    margin-bottom: 150px;
    padding-top: 50px;
    height: 450px;
}

#header-bottom #hero-section {
    min-height: 400px;
}

#header-bottom #hero-section .row .col-1-3 {
    display: flex;
    flex-direction: column;
}

#header-bottom #hero-section .row .col-2-3 {
    padding: 10px;
}

#header-bottom #hero-section .row .col-2-3 img {
    width: 100%;
}



/*
    MAIN
*/

#plans {
    display: flex;
}

#plans > * {
    border: 0.5px solid black;
}
/*
    DEBUG
*/

.debug #header-top {
    background-color: green;
    border: 2px dashed black;
}

.debug nav {
    background-color: orangered;
    border: 2px dashed white;
}

.debug .logo {
    background-color: aqua;
    border: 2px dashed black;
}

.debug #header-bottom {
    background-color: coral;
    border: 2px dashed black;
}

.debug #header-bottom #hero-section {
    background-color: cornflowerblue;
    border: 2px dashed black;
}
